/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  margin: 0;
}

.container {
  width: 100%;
}

.header {
  background-image: url("../assets/background-img-1.jpg");
  background-size: cover;
  color: white;
  height: 171px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 40px;
  margin: 0;
}

/* Content */

.content {
  padding: 55px 20px 0 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.toggle-container {
  display: flex;
  width: 320px;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid #8f5c45;
  align-self: center;
  margin-bottom: 40px;
  align-items: center;
}

.toggle-button {
  flex: 1;
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}

.login {
  background: #8f5c45;
  color: white;
  border-radius: 0 30px 30px 0;
}

.signup {
  background: #faf2eb;
  color: #8f5c45;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #edd5bb;
  background-color: transparent;
  font-size: 16px;
}

.password-container {
  position: relative;
  display: flex;
  align-items: baseline;
}

.password-container img {
  width: 17px;
}

.forgot-password {
  text-align: right;
  color: #422619;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.submit-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.login-button {
  width: 100%;
  padding: 16px 10px;
  background-color: #8f5c45;
  border: none;
  color: white;
  font-size: 19px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;
}

.line {
  height: 5px;
  background-color: black;
  border-radius: 20px;
  max-width: 120px;
  width: 100%;
}
